<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base_generic.html" %}

{% block content %}
  <h2>Confirm Deletion</h2>
  <p>Are you sure you want to delete {{ object.species }}?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete</button>
    <a href="{% url 'capture-list' %}">Cancel</a>
  </form>
{% endblock %}
  
</body>
</html>